/* apps/way/src/globals.css */
@import '@donotdev/ui/dndev.css';
@import '@donotdev/adv-comps/styles';

@import './themes.css';

/* Override framework's default font to use Roboto */
:root {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --font-family: var(--font-sans);
}